"""Accessible imports for the {{ project_slug_snake_case }} package."""

import importlib.metadata
import warnings
{% if extension_type == 'panel' %}
from {{ project_slug_snake_case }}.main import create_app
{% else %}
from {{ project_slug_snake_case }}.main import create_explorer
{% endif %}
try:
    __version__ = importlib.metadata.version(__name__)
except importlib.metadata.PackageNotFoundError as e:  # pragma: no cover
    warnings.warn(f"Could not determine version of {__name__}\n{e!s}", stacklevel=2)
    __version__ = "unknown"

__all__: list[str] = [
    "__version__",
{%- if extension_type == 'panel' %}
    "create_app",
{%- else %}
    "create_explorer",
{%- endif %}
]
